.lovez {
  display: flex;
  justify-content: space-between;
  margin: 0 4rem;
  border-bottom: .1px solid rgba(0,0,0,0.2);
}

.inputz {
  outline: none;
  padding: 0.2rem 0;
  font-size: 1.2rem;
  border: 1px solid #eee;
  font-family: "Alkatra", cursive;
}

.header__search {
  position: relative;
  display: flex;
}

.search__icon {
  position: absolute;
  right: 20px;
  top: 12px;
  cursor: pointer;
  font-size: 20px;
}

.home__input {
  padding: .6rem;
  border: 1px solid #DE8718;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  background: #fff;
}

.weather__button {
  padding: .6rem;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  border: none;
  background-color: #DE8718;
  color: #fff;
}
